WebScraping/twitter_credentials.py
WebScraping/__pycache__/
UI/__pycache__/
__pycache__/
UI/__pycache__/news_ui.cpython-37.pyc

WebScraping/__pycache__/COVID19_Scrapper.cpython-37.pyc
WebScraping/__pycache__/DOH_Scrapper.cpython-37.pyc
__pycache__/main_img.cpython-37.pyc
UI/__pycache__/news_ui.cpython-37.pyc
WebScraping/__pycache__/COVID19_Scrapper.cpython-37.pyc
WebScraping/__pycache__/DOH_Scrapper.cpython-37.pyc
__pycache__/main_img.cpython-37.pyc
UI/__pycache__/news_ui.cpython-37.pyc
WebScraping/__pycache__/COVID19_Scrapper.cpython-37.pyc
__pycache__/main_img.cpython-37.pyc
UI/__pycache__/news_ui.cpython-37.pyc
